/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
a {
  color: #333333;
}
p.bigText {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  line-height: 1.2em;
  font-size: 1.6em;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial Black', 'Arial', San-serif;
  letter-spacing: -1px;
  text-align: center;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333333;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
h1 {
  font-size: 2em;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial Black', 'Arial', San-serif;
}
.mainheader h1 {
  font-size: 1.5em;
  color: #fafffc;
}
