/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
html {
  background-color: #18a4ed;
  min-height: 100%;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
.content-wrapper {
  background-color: #fff;
}
body {
  font-size: 1em;
  line-height: 1.4;
  background-color: #18a4ed;
  color: #333333;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
body,
header {
  -webkit-transition: background-color 1000ms linear, box-shadow 1000ms;
  -moz-transition: background-color 1000ms linear, box-shadow 1000ms;
  -o-transition: background-color 1000ms linear, box-shadow 1000ms;
  -ms-transition: background-color 1000ms linear, box-shadow 1000ms;
  transition: background-color 1000ms linear, box-shadow 1000ms;
}
body,
header,
#body,
footer {
  transition: width 500ms;
  -webkit-transition: width 500ms;
  /* Safari */

}
.mainheader {
  background-color: #333333;
  color: #fafffc;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  display: block;
  height: auto;
}
.mainheader h1 {
  text-align: center;
  display: block;
}
.mainheader .mainNav {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  width: 100%;
}
.mainheader .mainNav .nav {
  margin: 0 0;
}
.mainheader .mainNav .navicon {
  float: right;
  height: 4px;
  width: 34px;
  border-top: 14px double #fafffc;
  border-bottom: 5px solid #fafffc;
  font-size: 0;
  margin-top: 3px;
  display: none;
}
.mainheader .mainNav .mobilename {
  display: none;
}
.mainheader .mainNav .logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.mainheader .mainNav li a {
  text-decoration: none;
  width: 100%;
  display: block;
  min-height: 100%;
  color: #fafffc;
}
.mainheader .mainNav li {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  text-align: center;
  display: block;
  line-height: auto;
  -webkit-transition: background-color 500ms linear, box-shadow 500ms;
  -moz-transition: background-color 500ms linear, box-shadow 500ms;
  -o-transition: background-color 500ms linear, box-shadow 500ms;
  -ms-transition: background-color 500ms linear, box-shadow 500ms;
  transition: background-color 500ms linear, box-shadow 500ms;
}
.mainheader .mainNav .LoginLink {
  float: right;
  margin-right: 20px;
}
.mainheader .mainNav li:hover {
  -webkit-box-shadow: 0 8px 6px -6px #000000;
  -moz-box-shadow: 0 8px 6px -6px #000000;
  box-shadow: 0 8px 6px -6px #000000;
}
#body {
  padding: 3px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  margin-bottom: -142px;
  box-sizing: border-box;
}
#body:after {
  content: "";
  display: block;
}
.mainfooter,
#body:after {
  /* .push must be the same height as footer */

  min-height: 142px;
}
.mainfooter {
  background-color: #333333;
  color: #fafffc;
  padding: 10px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .9em;
}
.mainfooter h3 {
  text-align: left;
}
.mainfooter #footerlogo {
  float: right;
}
.mainheader,
#body,
.mainfooter {
  margin-left: auto;
  margin-right: auto;
}
section {
  display: block;
}
article {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}
article header,
article footer {
  background-color: #333333;
  color: #fafffc;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
article header a,
article footer a {
  color: #fafffc;
}
article .content {
  padding: 10px;
  background-color: #fafffc;
  color: #333333;
}
article footer {
  margin-bottom: 20px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
article .ArticleSection {
  -ms-flex: auto;
  flex: auto;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-flex-pack: center;
  /* <-- */

  -moz-flex-pack: center;
  -ms-flex-pack: center;
  -o-flex-pack: center;
  /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */

}
article .ArticleSection .standardarticle {
  margin: 5px;
}
