
/* Typeology ----------- */

@font-size: 1em;
@font-size-form-element: 1.5em;

/* Colours ----------- */


@backgroundColor1:#accecd;
@backgroundColor2:#8a151b;
@backgroundColor3:#585340;
@backgroundColor4:#b7ae9d; 

@highlightColour: #A93C5E;


@header-bar: @backgroundColor3;

@button-colour:@backgroundColor3;
@button-colour-hover:@highlightColour;

@FontColor:#fafffc;
@Footer-Colour:@highlightColour;
@Header-Colour:@highlightColour;

/* Layout and positioning ----------- */

@max-screen-width:680px;

@element-padding:10px;
@element-margin-bottom:3px;

@bottom-margin-top:10px;