/* Smartphones (portrait) ----------- */
@media all and (max-width: 321px) and (min-width: 319px)
{
	body
	{
		background-color:@backgroundColor2;
		width: 321px
	}

	header{
    background-color:@backgroundColor3;
	}

	label {
		width: 150px;
	}

	input
	{
		width: 150px;
	}

	


}
