/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
html {
  background-color: #18a4ed;
  min-height: 100%;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
.content-wrapper {
  background-color: #fff;
}
body {
  font-size: 1em;
  line-height: 1.4;
  background-color: #18a4ed;
  color: #333333;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
body,
header {
  -webkit-transition: background-color 1000ms linear, box-shadow 1000ms;
  -moz-transition: background-color 1000ms linear, box-shadow 1000ms;
  -o-transition: background-color 1000ms linear, box-shadow 1000ms;
  -ms-transition: background-color 1000ms linear, box-shadow 1000ms;
  transition: background-color 1000ms linear, box-shadow 1000ms;
}
body,
header,
#body,
footer {
  transition: width 500ms;
  -webkit-transition: width 500ms;
  /* Safari */

}
.mainheader {
  background-color: #333333;
  color: #fafffc;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  display: block;
  height: auto;
}
.mainheader h1 {
  text-align: center;
  display: block;
}
.mainheader .mainNav {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  width: 100%;
}
.mainheader .mainNav .nav {
  margin: 0 0;
}
.mainheader .mainNav .navicon {
  float: right;
  height: 4px;
  width: 34px;
  border-top: 14px double #fafffc;
  border-bottom: 5px solid #fafffc;
  font-size: 0;
  margin-top: 3px;
  display: none;
}
.mainheader .mainNav .mobilename {
  display: none;
}
.mainheader .mainNav .logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.mainheader .mainNav li a {
  text-decoration: none;
  width: 100%;
  display: block;
  min-height: 100%;
  color: #fafffc;
}
.mainheader .mainNav li {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  text-align: center;
  display: block;
  line-height: auto;
  -webkit-transition: background-color 500ms linear, box-shadow 500ms;
  -moz-transition: background-color 500ms linear, box-shadow 500ms;
  -o-transition: background-color 500ms linear, box-shadow 500ms;
  -ms-transition: background-color 500ms linear, box-shadow 500ms;
  transition: background-color 500ms linear, box-shadow 500ms;
}
.mainheader .mainNav .LoginLink {
  float: right;
  margin-right: 20px;
}
.mainheader .mainNav li:hover {
  -webkit-box-shadow: 0 8px 6px -6px #000000;
  -moz-box-shadow: 0 8px 6px -6px #000000;
  box-shadow: 0 8px 6px -6px #000000;
}
#body {
  padding: 3px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  margin-bottom: -142px;
  box-sizing: border-box;
}
#body:after {
  content: "";
  display: block;
}
.mainfooter,
#body:after {
  /* .push must be the same height as footer */

  min-height: 142px;
}
.mainfooter {
  background-color: #333333;
  color: #fafffc;
  padding: 10px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .9em;
}
.mainfooter h3 {
  text-align: left;
}
.mainfooter #footerlogo {
  float: right;
}
.mainheader,
#body,
.mainfooter {
  margin-left: auto;
  margin-right: auto;
}
section {
  display: block;
}
article {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}
article header,
article footer {
  background-color: #333333;
  color: #fafffc;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
article header a,
article footer a {
  color: #fafffc;
}
article .content {
  padding: 10px;
  background-color: #fafffc;
  color: #333333;
}
article footer {
  margin-bottom: 20px;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
article .ArticleSection {
  -ms-flex: auto;
  flex: auto;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-flex-pack: center;
  /* <-- */

  -moz-flex-pack: center;
  -ms-flex-pack: center;
  -o-flex-pack: center;
  /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */

}
article .ArticleSection .standardarticle {
  margin: 5px;
}
/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
a {
  color: #333333;
}
p.bigText {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  line-height: 1.2em;
  font-size: 1.6em;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial Black', 'Arial', San-serif;
  letter-spacing: -1px;
  text-align: center;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333333;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
h1 {
  font-size: 2em;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial Black', 'Arial', San-serif;
}
.mainheader h1 {
  font-size: 1.5em;
  color: #fafffc;
}
/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
input,
label,
textarea,
select {
  width: 98%;
  padding: 10px;
  margin-bottom: 3px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 500ms linear, box-shadow 500ms;
  -moz-transition: background-color 500ms linear, box-shadow 500ms;
  -o-transition: background-color 500ms linear, box-shadow 500ms;
  -ms-transition: background-color 500ms linear, box-shadow 500ms;
  transition: background-color 500ms linear, box-shadow 500ms;
}
input[type=submit],
input[type=button] {
  width: 100%;
  margin-top: 40px;
  line-height: 35px;
  color: #333333;
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #333333;
  border: 1px solid #cccccc;
  border-color: #333 #333 #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 500ms linear, box-shadow 500ms;
  -moz-transition: background-color 500ms linear, box-shadow 500ms;
  -o-transition: background-color 500ms linear, box-shadow 500ms;
  -ms-transition: background-color 500ms linear, box-shadow 500ms;
  transition: background-color 500ms linear, box-shadow 500ms;
}
input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:focus,
input[type=button]:hover {
  color: #333333;
  text-decoration: none;
  background-color: #000000;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  border-bottom: solid 5px #000;
  -webkit-transition: background-color 250ms linear, box-shadow 250ms;
  -moz-transition: background-color 250ms linear, box-shadow 250ms;
  -o-transition: background-color 250ms linear, box-shadow 250ms;
  -ms-transition: background-color 250ms linear, box-shadow 250ms;
  transition: background-color 250ms linear, box-shadow 250ms;
}
input:focus {
  -moz-box-shadow: 0 0 10px rgba(255, 255, 224, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 224, 0.5);
  -ms-box-shadow: 0 0 10px rgba(255, 255, 224, 0.5);
  -o-box-shadow: 0 0 10px rgba(255, 255, 224, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 224, 0.5);
}
input,
textarea,
select {
  font-size: 1.5em;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  -ms-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  -o-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}
/* http://codepen.io/izzrael/pen/CvFHy ----------- */
table {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
table th,
table td {
  text-align: left;
}
table.layout {
  width: 100%;
  border-collapse: collapse;
}
table.display {
  margin: 1em 0;
}
table.display th,
table.display td {
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
  background: #fafffc;
  color: #333333;
  vertical-align: top;
}
table.display td a {
  color: #333333;
}
table.display th {
  background: #333333;
  color: #fafffc;
  border-top: 1px solid #B3BFAA;
}
table.responsive-table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  table.responsive-table {
    box-shadow: none;
  }
  table.responsive-table thead {
    display: none;
  }
  table.display th,
  table.display td {
    padding: .5em;
  }
  table.responsive-table td:nth-child(1):before {
    content: 'Name';
  }
  table.responsive-table td:nth-child(2):before {
    content: 'Details';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2) {
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before {
    position: absolute;
    left: .5em;
    font-weight: bold;
  }
  table.responsive-table tr,
  table.responsive-table td {
    display: block;
  }
  table.responsive-table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  table.responsive-table td {
    border-top: none;
  }
  table.responsive-table td.title {
    background: #333333;
    color: #fafffc;
    border-top: 1px solid #B3BFAA;
  }
  table.responsive-table td.actions {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
  }
}
/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
/* Smartphones (portrait) ----------- */
@media all and (max-width: 650px) and (min-width: 0px) {
  .mainheader,
  #body,
  .mainfooter {
    width: 300px;
  }
  .mainfooter #footerlogo {
    float: none;
  }
  header {
    height: 30px;
  }
  .mainheader .mainNav .navicon {
    display: block;
    float: right;
    margin-right: 20px;
  }
  .mainheader .mainNav .mobilename {
    display: block;
  }
  .nav {
    display: none;
  }
  .nav li {
    line-height: 30px;
  }
  p.bigText {
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
/* Tablets ----------- */
@media all and (max-width: 800px) and (min-width: 650px) {
  .mainheader {
    height: 50px;
  }
  .mainheader .mobilename {
    display: none;
  }
  .mainheader,
  #body,
  .mainfooter {
    width: 650px;
  }
  p.bigText {
    font-size: 2.5em;
  }
}
/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
/* Desktops and laptops ----------- */
@media all and (max-width: 999999px) and (min-width: 800px) {
  body {
    font-size: 1.2em;
    line-height: 1.4;
  }
  .mainheader .mobilename {
    display: none;
  }
  .mainheader,
  #body,
  .mainfooter {
    width: 800px;
  }
  .HeaderSection header {
    padding: 10px;
  }
  .HeaderSection header h1 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  .HeaderSection header sub {
    font-family: Georgia, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    text-align: right;
  }
  p.bigText {
    font-size: 2em;
  }
  .ArticleSection .standardarticle {
    margin: 5px;
  }
}
/* Standard Components */
/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
label {
  width: 50%;
  display: inline-block;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
