.box-shadow(@style, @c) when (iscolor(@c))
{
	box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}

.background-color-animate(@time)
{
     -webkit-transition: background-color @time linear, box-shadow @time;
     -moz-transition: background-color @time linear, box-shadow @time;
     -o-transition: background-color @time linear, box-shadow @time;
     -ms-transition: background-color @time linear, box-shadow @time;
     transition: background-color @time linear, box-shadow @time;
}


.boxsizing()
{
	-webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  
}


.boxshadow(@args)
{
-moz-box-shadow: @args;
-webkit-box-shadow: @args;
-ms-box-shadow: @args;
-o-box-shadow: @args;
box-shadow: @args;
}

.one-edge-shadow() {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


.flexcontainer()
{
  list-style: none;
   display: flex;
flex-direction: row;
flex-wrap: wrap;
}
