/* Desktops and laptops ----------- */
@media all and (max-width: 999999px) and (min-width: @max-screen-width)
{

    body
    {
        font-size: 1.2em;
        line-height: 1.4;
    }

	body
	{
		background-color:@backgroundColor4;

	}

        .mainheader, #body, .mainfooter
    {
                width: @max-screen-width;
    }

	   h1
    {
        font-size: 4em;
        font-weight:300;
    }
       
    p.bigText{
     font-size:2.5em;
    }

    .ArticleSection
    {
        float:left;
        flex: auto;
	    -webkit-flex-flow: row;
        -moz-flex-flow: row;
        -ms-flex-flow: row;
        -o-flex-flow: row;
        -webkit-flex-pack: center; /* <-- */
        -moz-flex-pack: center;
        -ms-flex-pack: center;
        -o-flex-pack: center;
       /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
    }

   .ArticleSection .standardarticle
    {
        margin:5px;
    }

	
   .ArticleSection article:hover
    {
	
	}



}



	
