/* Smartphones (portrait) ----------- */
@media all and (max-width: @Mobile-width) and (min-width: 0px)
{
	body
	{
		background-color:@backgroundColor2;

	}
    .mainheader, #body, .mainfooter
    {
                width: 300px;
    }


	p.bigText{
  line-height: 1.2em;
 font-size:1.9em;
 text-align:center;
	}

header{
		height:@header-height-small;
        }


	.nav {


		li{

			line-height:@header-height-small;

		}


	}



	


}
