/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
/* Tablets ----------- */
@media all and (max-width: 800px) and (min-width: 650px) {
  body {
    background-color: #accecd;
  }
  .mainheader,
  #body,
  .mainfooter {
    width: 650px;
  }
  h1 {
    font-size: 4em;
  }
  p.bigText {
    font-size: 2.5em;
  }
}
