/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
/* Desktops and laptops ----------- */
@media all and (max-width: 999999px) and (min-width: 800px) {
  body {
    font-size: 1.2em;
    line-height: 1.4;
    background-color: #b7ae9d;
  }
  .mainheader {
    height: 50px;
  }
  .mainheader,
  #body,
  .mainfooter {
    width: 800px;
  }
  h1 {
    font-size: 4em;
    font-weight: 300;
  }
  p.bigText {
    font-size: 2em;
  }
  .ArticleSection {
    float: left;
    flex: auto;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    -webkit-flex-pack: center;
    /* <-- */
  
    -moz-flex-pack: center;
    -ms-flex-pack: center;
    -o-flex-pack: center;
    /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
  
  }
  .ArticleSection .standardarticle {
    margin: 5px;
  }
}
