@import "lib";
@import "mixins";

/* Smartphones (portrait) ----------- */
@media all and (max-width: @Tablet-width) and (min-width: 0px)
{
	body
	{
		background-color:@backgroundColor2;

	}
    .mainheader, #body, .mainfooter
    {
                width: 300px;
    }

 
 .mainfooter{
    
 #footerlogo
        {
            float:none;
     }

}


header{
		height:@header-height-small;
        }

    .mainheader .mainNav
    {
        .MobileNav
        {
            display:block;
            
        }
    }

	.nav {

        display:none;

        img
        {
            float: left;
            
        }


		li{

			line-height:@header-height-small;

		}


	}

    article
    {
        header, footer
        {
            background-color: @blue;
        }
    }

    p.bigText
    {
        padding-left:5px;
        padding-right:5px;
    }


}
