/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
/* Tablets ----------- */
@media all and (max-width: 800px) and (min-width: 650px) {
  .mainheader {
    height: 50px;
  }
  .mainheader .mobilename {
    display: none;
  }
  .mainheader,
  #body,
  .mainfooter {
    width: 650px;
  }
  p.bigText {
    font-size: 2.5em;
  }
}
