@import "lib";
@import "mixins";

/* Desktops and laptops ----------- */
@media all and (max-width: 999999px) and (min-width: @max-screen-width)
{

    body
    {
        font-size: 1.2em;
        line-height: 1.4;
	}

    .mainheader
    {
        .mobilename
        {
            display:none;
        }
    }


        .mainheader, #body, .mainfooter
    {
                width: @max-screen-width;
    }


    .HeaderSection
    {
        header
        {
            padding: @element-padding;


            h1
            {
                font-size: 2em;
                font-weight:300;
                margin-bottom:2px;
                margin-top:2px;
           }

            sub
            {
                font-family:Georgia, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
                text-align:right;
 
            }
        }

        article
        {
        }
    }


       
    p.bigText{
     font-size:2em;
    }

    .ArticleSection
    {

    }

   .ArticleSection .standardarticle
    {
        margin:5px;
    }

	
   .ArticleSection article:hover
    {
	
	}



}



	
