@model Template.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}


<p class="bigText">
   Just enter your email address 
</p>

<p>
	We will send you a reactivation link to y for your account.
</p>


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{

	@Html.ValidationSummary()
	
	@Html.LabelFor(x => x.Email)
	@Html.TextBoxFor(x=> x.Email)
	
	
	<input type="submit" value="Come on Let Me In" />

	
}