@using Template.Models.Account
@model ForgotPasswordViewModel

<h1>@Model.Email Account Reset.</h1>

<p>We are sorry to hear you have forgot your password or account</p>

<p>Please click on the recoverery email to change your password.</p>

<a href="http://template.com/recoveraccount/token">Recover account.</a>

<p>If you are still having problems please send an email to <a href="mailto://support@template.com">support@template.com</a></p>
