@model Template.Models.ParentItemModel

  <section class="ArticleSection">

<h1>@Model.Name</h1>

<article  class="standardarticle">

	<header>
		Description
	</header>
    <div class="content">

	@Model.Description
	
	@foreach (var item in Model.ChildItems)
	{
			@item.Name
	}


    </div>
	<footer>
		Controls
	</footer>

</article>

	</section>

    <p>This is a cheat at the moment</p>
