@model Template.Models.HomeModel

<h1>The App</h1>

<p>This is the first page of the app</p>

 

   
@using (Html.BeginForm("Index","Home", FormMethod.Post))
{

    @Html.ValidationSummary(true)
    
 
	for (var i = 0; i < Model.ParentItems.Count(); i++)
    {

       <div>    
       @Html.TextBoxFor(x => x.ParentItems[i].Name, new { @readonly = true })
       </div> 
       
    };

        
   <input type="submit" value="Proceed" />
    
    
    
}


