@model Template.Models.HomeModel



<p class="bigText">Welcome to your new site <time></time></p>

 

   
@using (Html.BeginForm("Index","Home", FormMethod.Post))
{

    @Html.ValidationSummary(true)
    
 <section class="ArticleSection">
	
	@for (var i = 0; i < Model.ParentItems.Count(); i++)
    {

		
       <article>    
				 <header>
					 @Model.ParentItems[0].Name
				 </header>
			
					 Will be desciption
		
				 <footer>
					@Html.ActionLink("View Item","ItemDetails", new { id = Model.ParentItems[0].ParentItemid})
				 </footer>
       </article> 
       
    }
</section>
        
   <input type="submit" value="Proceed" />
    
    
    
}


