/* Typeology ----------- */
/* Colours ----------- */
/* Screen Widths ----------- */
/* Layout and positioning ----------- */
body {
  background-color: #18a4ed;
  overflow: scroll;
  color: #333333;
}
.appHolder {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}
.appHolder .contentHolder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background: #fff;
}
.appHolder .contentHolder header {
  background-color: #333333;
  padding: 6px 8px 6px 8px;
  line-height: 30px;
  color: #333333;
}
.appHolder .contentHolder header h1 {
  color: #333333;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}
.appHolder .contentHolder header .navicon {
  float: right;
  height: 4px;
  width: 34px;
  border-top: 14px double #FFF;
  border-bottom: 5px solid #FFF;
  font-size: 0;
  margin-top: 3px;
}
.appHolder .contentHolder header a {
  color: #333333;
}
.appHolder .contentHolder #menuHolder {
  background-color: #333333;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  display: none;
}
.appHolder .contentHolder #menuHolder ul {
  padding-left: 0px;
  margin-top: 0;
}
.appHolder .contentHolder #menuHolder ul li {
  line-height: 30px;
  padding: 0px;
  clear: both;
  list-style: none;
  margin-left: 0px;
  border-bottom: solid 1px #666;
}
.appHolder .contentHolder #menuHolder ul li a {
  display: block;
  background-color: #222;
  color: #fff;
  padding: 6px 0 6px 8px;
  text-decoration: none;
}
.appHolder .contentHolder #menuHolder ul li a:hover,
.appHolder .contentHolder #menuHolder ul li a:focus {
  background-color: #fff;
  color: #333;
}
.appHolder .contentHolder .viewHolder {
  padding: 10px;
}
.appHolder .contentHolder .viewHolder label {
  display: block;
}
.appHolder .contentHolder .viewHolder input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
}
.appHolder .contentHolder .viewHolder input[type="button"],
.appHolder .contentHolder .viewHolder input[type="reset"],
.appHolder .contentHolder .viewHolder input[type="submit"] {
  width: 100%;
  background-color: #222;
  border: #333 solid 1px;
  margin-top: 10px;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
}
.appHolder .contentHolder footer {
  background-color: #333333;
  color: #333333;
}
